body {
    max-width: 100%;
    padding-top: 0.01px;
}

.nav-header {
    position: sticky;
    top: 0;
    width: 100vw;
    align-items: center;
    z-index: 100;
    background-color: var(--pico-background-color);
    padding-top: 0;
    padding-bottom: 0px;
    justify-items: center;
    margin-top: 0;
}

.navbar {
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.footer-icon {
    padding-top: 0;
    padding-bottom: 0;
}